@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h2>Add a Flavor</h2>

<h4>Add a Flavor to this Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input class="btn btn-default" type="submit" value="Save" />
}
<div class="footer">
  <p>@Html.ActionLink("Back to Treats list", "Index")</p>
</div>
