@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h2>Are you sure you want to delete this treat?</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</h3>

@using (Html.BeginForm())
{
    <input class="btn btn-default" type="submit" value="Delete" />
    <br>
    @Html.ActionLink("Cancel", "Details", new {id=Model.TreatId})
}
<div class="footer">
  <p>@Html.ActionLink("Back to Treat List", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
