@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h4>
<h4>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)<h4>

@if(@Model.Flavors.Count == 0)
{
  <p>This Treat does not belong to any Flavors</p>
}
else
{
  <h4>Flavors the Treat belongs to:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Title</li>
    @if(User.Identity.IsAuthenticated)
    {
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input class="btn btn-default" type="submit" value="Delete"/>
      }  
    }
    
  }
  </ul>
}
<div class="footer">
  @if(User.Identity.IsAuthenticated)
  {
    <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>  
  }
  <p>@Html.ActionLink("Back to Treat list", "Index")</p>
</div>
