@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    @Html.LabelFor(model => model.Price)
    @Html.EditorFor(model => model.Price, new {type="number", min="0"})
    <br>
    <br>
    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")
    <br>
    <br>
    <input class="btn btn-default" type="submit" value="Save" />
    <p>@Html.ActionLink("Cancel", "Details", new {id=Model.TreatId})</p>
}
<div class="footer">
  <p>@Html.ActionLink("Back to Treat list", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
