@{
  Layout = "_Layout";
}

@using SweetSavoryTreats.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)
  <br>
  <br>
  @Html.LabelFor(user=> user.Password)
  @Html.PasswordFor(user=> user.Password)
  <br>
  <br>
  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.PasswordFor(user=> user.ConfirmPassword)
  <br>
  <br>
  <input class="btn btn-default" type="submit" value="Register" />
}
<div class="footer">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
