@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Flavor

<h2>Add a new Flavor</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    <input type="submit" value="Add new Flavor" />
}
<p>@Html.ActionLink("Back to Flavors List", "Index")</p>