@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Flavor

<h2>Add a new Flavor</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description)
    <br>
    <br>
    <input class="btn btn-default" type="submit" value="Add new Flavor" />
    <p>@ViewBag.Message</p>
}
<div class="footer">
  <p>@Html.ActionLink("Back to Flavors List", "Index")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
